<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.user_name.label}}
        {{ form.user_name}}</br>
        {{ form.password.label}}
        {{ form.password}}</br>
        {{ form.password2.label}}
        {{ form.password2 }}</br>
        {{ form.submit }}
    </form>
    {{errmsg}}
</body>
</html>